.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    background: #3385E5;
    padding: 20px 200px 20px 200px;
}

a {
    color: white;
    font-weight: bold;
}